@import "../../../styles/utils.scss";
.header-component {
    height: 25px;
    padding-top: 31px;
    padding-left: 116px;
    padding-right: 116px;

    @media (max-width: $small-screen)  {
        padding-left: 24px;
        padding-right: 24px;
    }
}