.simulation-resume {
    // background-color: aquamarine;
    height:  85px;
    background: #FFFFFF;
    box-shadow: 8px 0 47px 0 rgba(0,0,0,0.08);
    padding: 8px 116px;
    display: grid;
    grid-template-columns: 128px auto auto auto 128px;
}