@import "../../styles/utils.scss";
.resume-car-figure {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;

    .image {
        width: 610px
    }

    @media (max-width: $small-screen)  {
        .image {
            padding-top: 16px;
            width: 325px;
        }
    }
}