@import "../../styles/colors.scss";
@import "../../styles/utils.scss";

.color-car-figure {
    margin: 16px;
    // display: flex;
    // flex-direction: column;
    // align-items: center;
    max-width: 580px;
    padding-top: 172px;

    > .figure {
        width: 520px;
        height: 248px;
        object-fit: contain;
        transform: scale(1.6);
        object-position: 15% 0;
    }

    > .caption {
        font-size: 22px;
        color: $secondary-color;
    }

    > .price {
        @extend .caption;
        color: $primary-color;
    }

    @media (max-width: $small-screen)   { 
        padding-top: 0;
        margin: 0;
        max-width: 325px;
        max-height: unset;
        justify-content: center;

        > .figure {
            object-fit: scale-down;
            transform: unset;
            object-position: 50% 0;
            max-width: 325px;
            max-height: 182px;
        }
    }
}