@import "../../styles/utils.scss";
@import "../../styles/colors.scss";

.color-content {
    display: grid;
    grid-auto-flow: column;

    @media (max-width: $small-screen)  { 
        grid-auto-flow: row;
        justify-content: center;
    }
}