@import "../styles/utils.scss";

.engines-page {
    display: grid;
    grid-template-rows: max-content auto max-content;
    flex-grow: 1;

     .header-component {
        padding-left: 116px; 
        padding-right: 116px;
    }
}