@import "../../styles/utils.scss";

.home-content {
    padding: 0 188px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .headline {
        text-align: left;
        letter-spacing: 10.84px;
        color: #0F1C2D;
        margin: 0;
        font-size: 30px;
        line-height: 36px;

        
        &.-featured {
            letter-spacing: 12.5px; 
            font-size: 150px;
            line-height: 150px;
        }  

        &.-red {
            @extend .red-text ;
        }

        &.-featured > .type {
            @extend .red-text ;
            margin-left: 54px;
            display: inline;
        }
    }

    > .carfigure {
        margin: 0;
        display: flex;
        justify-content: center;
    }
    
    > .carfigure > .img{
        margin-top: -64px;
    }

    @media (max-width: $small-screen)  {
        padding: 0 15px;
        align-items: center;

        .headline {
            font-size: 20px;

            &.-featured {
                font-size: 90px;
                line-height: 90px;
                letter-spacing: 7.5px;
            }

            &.-featured > .type {
                margin-left: 20px;
            }
        }

        > .carfigure {
            overflow: hidden;
            max-width: 320px;
        }

        > .carfigure > .img{
            margin-top: -24px;
            object-fit: scale-down;
            max-width: 378px;
            height: 148px;
        }
    }
}