.home-fotter {    
    // background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 31px;
    padding-left: 116px;
    padding-right: 116px;
}