@import "../../styles/utils.scss";

.home-content {
    padding: 0 188px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    .headline {
        text-align: left;
        letter-spacing: 10.84px;
        color: #0F1C2D;
        margin: 0;
        font-size: 30px;
        line-height: 36px;

        &.-featured {
            letter-spacing: 12.5px; 
            font-size: 150px;
            line-height: 150px;
        }  

        &.-red {
            @extend .red-text ;
        }

        &.-inline {
            display: inline;
        }
    }

    > .carfigure {
        margin: 0;
        display: flex;
        justify-content: center;
    }
}