@import "../../styles/utils.scss";
.home-fotter {    
    // background-color: bisque;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 31px;
    padding-left: 116px;
    padding-right: 116px;

    @media (max-width: $small-screen)  {
        padding-left: 24px;
        padding-right: 24px;
    }   
}