@import "../../styles/utils.scss";
@import "../../styles/colors.scss";

.engine-content {
    display: grid;
    grid-auto-flow: column;

    .title {
        @extend .content-title ;
    }

    > .figure {
        margin: 16px;
        display: flex;
        align-items: center;
        // justify-content: center;
    }

    @media (max-width: $small-screen)  { 
        grid-auto-flow: row;
        .title {
            margin: 10px 0;
            font-size: 22px;
        }

        > .figure {    
            margin: 0;
            max-height: 200px;
            justify-content: center;
        }

        > .figure > .img {
            object-fit: scale-down;
            max-width: 170px;
            max-height: 300px;
            transform: rotate(-90deg)
        }
    }
}